@charset "utf-8";
@import url(cw_layout.css);

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 3
   
   Civil War History Style Sheet
   Author: Nicholas Le
   Date:   09/10/18
   
   Filename: cw_styles.css

*/
/* Structural Styles */
html {
    background-color: rgb(151, 151, 151);
}

body {
    background-color: rgb(180, 180, 223);
    font-family: Verdana, 'Geneva', sans-serif;
}

h1,
h2 {
    font-weight: normal;
}

/* Body Header Styles */
body>header {
    background-color: rgb(97, 97, 211)
}

body>header>h1 {
    font-size: 4vw;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Limelight', cursive;
    margin: 0px;
}

body>header>h1 span {
    color: rgba(255, 255, 255, 0.4);
}

/* Navigation Styles */
nav a {
    text-decoration: none;
}

nav#mainlinks a {
    padding: 5px;
}

nav#mainLinks a:visited,
nav#mainLinks a:link {
    color: white;
}

nav#mainLinks a:hover,
nav#mainLinks a:active {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(51, 51, 51, 0.5);
}

/* Outline Styles */
nav#outline a {
    color: rgb(51, 51, 51);
    font-size: 0.8em;
}

h1#outline {
    text-align: center;
}

nav#outline>ol {
    line-height: 2em;
    margin: 0px 5px 0px 5px;
    list-style-type: upper-roman;
}

nav#outline>ol ol {
    list-style-type: upper-alpha;
}

nav#outline a:visited,
nav#outline a:link {
    color: rgb(101, 101, 101);
}

nav#outline a:active,
nav#outline a:hover {
    color: rgb(97, 97, 211);
    text-decoration: underline;
}

/* Section Styles */
section {
    background-color: rgb(220, 220, 220);
}

section header h1 {
    font-size: 2.2em;
    padding-left: 10px;
}

/* Article Styles */
article h2 {
    font-size: 1.4em;
}

article p:first-of-type::first-letter {
    font-size: 2em;
    vertical-align: baseline;
}

/* Aside Styles */
aside {
    font-size: 0.9em;
}

aside h1 {
    font-size: 1.4em;
    text-align: center;
}

/* Footer Styles */
footer {
    color: white;
    background-color: rgb(101, 101, 101);
    font-size: 0.8em;
    text-align: center;
    padding: 1px;
}